<app-text [text]="'Button & Links'" [textSize]="TextSizes.headline1"></app-text>
<br />
<div class="block gap">
  <app-button
    *ngFor="let button of buttons"
    [text]="button.text"
    [size]="button.buttonSize"
  ></app-button>
</div>
<br />
<app-text [text]="'Typography'" [textSize]="TextSizes.headline1"></app-text>
<br />
<app-text
  [text]="'Big monitor / Desktop / Tablet'"
  [textSize]="TextSizes.parapgraph"
></app-text>
<br />
<div class="block">
  <app-text
    *ngFor="let typo of typography"
    [text]="typo.text"
    [textSize]="typo.textSize"
    [color]="typo.color"
  ></app-text>
</div>
<br />
