<ng-container *transloco="let translate">
  <div class="success-modal">
    <div class="success-modal__header">
      <mat-icon mat-dialog-close="cancel" class="mat-dialog-close"
        >close</mat-icon
      >
    </div>
    <div class="success-modal__body">
      <app-img [img]="successModalImgSrc"></app-img>
      <app-text
        [text]="translate('eRevisionModule.getAccessModal.title')"
        [textSize]="TextSizes.headline3"
      ></app-text>
      <app-text
        [text]="translate('eRevisionModule.getAccessModal.subtitle')"
        [textSize]="TextSizes.smallText"
        [color]="ColorMap.grey"
      ></app-text>
    </div>
  </div>
</ng-container>
