<div class="review" *ngIf="userReview">
  <app-text
    [text]="userReview.reviewText"
    [textSize]="TextSizes.headline3"
  ></app-text>
  <div class="review__info">
    <div class="separator"></div>
    <div class="user-info">
      <app-img class="user-info__logo" [img]="userReview.userLogo"></app-img>
      <div class="user-info__text">
        <app-text
          [text]="userReview.userName"
          [textSize]="TextSizes.smallText"
        ></app-text>
        <app-text
          [text]="userReview.userPosition"
          [textSize]="TextSizes.smallText"
          [color]="ColorMap.grey"
        ></app-text>
      </div>
    </div>
  </div>
</div>
