<ng-container *transloco="let translate">
  <div class="advantages-container">
    <div class="advantages-container__info">
      <app-text
        [text]="translate('eRevisionModule.tryItNow.head')"
        [textSize]="TextSizes.caption"
        [color]="ColorMap.white"
      ></app-text>
      <app-text
        [text]="translate('eRevisionModule.tryItNow.title')"
        [textSize]="TextSizes.headline2"
        [color]="ColorMap.white"
      ></app-text>
      <app-text
        [text]="translate('eRevisionModule.tryItNow.subtitle')"
        [textSize]="TextSizes.smallText"
        [color]="ColorMap.white"
      ></app-text>
      <a href="#demo">
        <app-button
          class="button"
          [size]="Buttons.average"
          [text]="translate('eRevisionModule.demoTextBtn')"
          [reverseColor]="true"
        ></app-button
      ></a>
    </div>
    <div class="advantages-container__logo">
      <app-img [img]="advantagesMobileImgSrc"></app-img>
    </div>
  </div>
</ng-container>
