<div class="footer">
  <div class="footer__main">
    <div class="left-block">
      <app-text
        [text]="footerTexts.demoVersion"
        [textSize]="TextSizes.caption"
        [color]="ColorMap.white"
        [opacity]="0.5"
      ></app-text>
      <app-text
        [text]="footerTexts.tryOurProductToday"
        [textSize]="TextSizes.headline2"
        [color]="ColorMap.white"
      ></app-text>
      <app-text
        [text]="footerTexts.fillOutTheContactForm"
        [textSize]="TextSizes.smallText"
        [color]="ColorMap.white"
        [opacity]="0.6"
      ></app-text>
    </div>
    <div class="right-block">
      <form [formGroup]="feedbackForm" class="form">
        <div class="main_values">
          <mat-form-field appearance="outline">
            <input formControlName="name" matInput placeholder="Имя" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input formControlName="email" matInput placeholder="Email" />
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="textarea">
          <textarea
            formControlName="message"
            matInput
            placeholder="Сообщение (не обязательно)"
          ></textarea>
        </mat-form-field>
        <mat-checkbox formControlName="privacyPolicy" color="primary"
          ><app-text
            [text]="footerTexts.privacyPolicy"
            [textSize]="TextSizes.smallText"
            [color]="ColorMap.white"
            autocomplete="off"
            [opacity]="0.6"
          ></app-text
        ></mat-checkbox>
        <app-button
          [text]="footerTexts.getAccess"
          [size]="Buttons.average"
        ></app-button>
      </form>
    </div>
  </div>
  <div class="footer__extra">
    <app-text
      [text]="footerTexts.revisionMail"
      [textSize]="TextSizes.menuItem"
      [color]="ColorMap.white"
      autocomplete="off"
      [opacity]="0.6"
    ></app-text>
    <app-text
      [text]="footerTexts.rights"
      [textSize]="TextSizes.menuItem"
      [color]="ColorMap.white"
      autocomplete="off"
      [opacity]="0.6"
    ></app-text>
    <div class="links">
      <app-text
        [text]="'inst'"
        [textSize]="TextSizes.menuItem"
        [color]="ColorMap.white"
        autocomplete="off"
        [opacity]="0.6"
      ></app-text>
      <app-text
        [text]="'fb'"
        [textSize]="TextSizes.menuItem"
        [color]="ColorMap.white"
        autocomplete="off"
        [opacity]="0.6"
      ></app-text>
    </div>
  </div>
</div>
