<div class="block">
  <div class="why-block">
    <app-text
      [text]="mainTexts.advantages"
      [textSize]="TextSizes.caption"
      [color]="ColorMap.blue"
    ></app-text>
    <app-text
      [text]="mainTexts.advantagesText"
      [textSize]="TextSizes.bigText"
    ></app-text>
  </div>
  <div class="why-cards">
    <div *ngFor="let card of whyTexts" class="card">
      <app-img [img]="card.img"></app-img>
      <app-text
        [text]="card.description"
        [textSize]="TextSizes.headline3"
      ></app-text>
    </div>
  </div>
</div>
