@import "src/styles/variables";
@import "src/styles/fonts";

.circle-button {
  background-color: var(--blue) !important;
}

.disabled {
  opacity: 0.1;
}

.menu {
  background-color: #3185fc1a !important;
  color: var(--blue);
  box-shadow: none !important;
}
