<div class="container" *ngIf="userReviewsArray.length">
  <div class="container__header">
    <app-text
      [text]="reviewsTexts.head"
      [textSize]="TextSizes.caption"
      [color]="ColorMap.blue"
    ></app-text>
    <div class="management">
      <app-text
        [text]="reviewsTexts.title"
        [textSize]="TextSizes.headline2"
      ></app-text>
      <div class="management__buttons">
        <app-circle-button
          [img]="'keyboard_arrow_left'"
          [disabled]="currentSlide === 0"
          (click)="slider?.prev()"
        ></app-circle-button>
        <app-circle-button
          [img]="'keyboard_arrow_right'"
          [disabled]="currentSlide === userReviewsArray.length - 1"
          (click)="slider?.next()"
        ></app-circle-button>
      </div>
    </div>
  </div>
  <div class="container__reviews">
    <div class="keen-slider keen-slider--vertical custom" #sliderPreviewRef>
      <app-review-card
        *ngFor="let userReview of userReviewsArray; index as index"
        [class]="'keen-slider__slide number-slide' + index"
        [userReview]="userReview"
      ></app-review-card>
    </div>
  </div>
</div>
