<div class="how-it-works">
  <div class="how-it-works__logo">
    <div class="keen-slider keen-slider--vertical custom" #sliderImgRef>
      <app-img
        *ngFor="let howItWorksImg of howItWorksImgArray; index as index"
        [class]="'keen-slider__slide img number-slide' + index"
        [img]="howItWorksImg"
      >
      </app-img>
    </div>
    <div class="management">
      <app-circle-button
        [img]="'keyboard_arrow_left'"
        [disabled]="currentSlide === 0"
        (click)="slider?.prev()"
      ></app-circle-button>
      <app-circle-button
        [img]="'keyboard_arrow_right'"
        [disabled]="currentSlide === howItWorksImgArray.length - 1"
        (click)="slider?.next()"
      ></app-circle-button>
    </div>
  </div>

  <div class="how-it-works__list">
    <ng-container *transloco="let translate">
      <app-text
        class="title"
        [text]="translate('eRevisionModule.howItWork.title')"
        [color]="ColorMap.blue"
        [textSize]="TextSizes.caption"
      ></app-text>

      <div class="container">
        <ng-container
          *ngFor="
            let howItWorksImg of howItWorksImgArray;
            last as last;
            index as i
          "
        >
          <div class="item">
            <div class="circle" [class.active]="currentSlide >= i"></div>
            <div>
              <app-text
                [text]="translate('eRevisionModule.howItWork.step' + (i + 1))"
                [textSize]="TextSizes.smallText"
                class="target"
                (click)="slider?.moveToIdx(i)"
              ></app-text>
              <div class="separator" *ngIf="!last"></div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<div class="background"></div>
